@import '../less/global-variables/all.less';

.section {
    margin-top: 50px;
}

.articleHero {
    display: flex;
    flex-direction: row;
    width: calc(100% - 120px);
    margin: 0 auto 60px;
    @media screen and (max-width: 875px) {
        flex-direction: column;
        width: 100%;
    }
}

.heroWrapper {
    width: 45%;
    background: #161616;
    height: 700px;
    @media screen and (max-width: 1115px) {
        height: 550px;
        width: 50%;
    }
    @media screen and (max-width: 875px) {
        width: 100%;
    }
}

.articleWrapper {
    position: relative;
    background: @lightgray;
    width: 55%;
    height: 90%;
    min-height: 375px;
    padding: 5% 0 5% 5%;
    @media screen and (max-width: 1115px) {
        width: 50%;
    }
    @media screen and (max-width: 875px){
        width: 95%;
        background: @white;
        padding: 0 2.5%;
    }
}

.graySquare {
    background: #f9f9f9;
    width: 20%;
    position: absolute;
    top: 0;
    right: -12%;
    height: 100%;
    z-index: -1;
    @media screen and (max-width: 875px) {
        display: none;
    }
}

.articleCategory {
    color: @blue;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    @media screen and (max-width: 875px) {
        font-size: 1rem;
        font-weight: 500;
    }
}

.articleTitle {
    color: @purple;
    margin-top: 20px;
    margin-right: 100px;
    @media screen and (max-width: 1115px) {
        font-size: 2.4rem;
    }
    @media screen and (max-width: 875px) {
        font-size: 2.8rem;
        margin: 10px 0;
    }
}

.articleTime {
    color: #161616;
    font-weight: 100;
    @media screen and (max-width: 875px) {
        font-size: 1rem;
        margin: 10px 0;
    }
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.content {
    width: 60%;
    @media screen and (max-width: 1115px) {
        width: 80%;
    }
    @media screen and (max-width: 875px) {
        width: 95%;
    }
}

