/*********************************************

    PALETTE COLORS

*********************************************/

@white: #ffffff;
@black: #000000;

@pink: #f4bba8;
@purple: #2e307c;
@yellow: #ffd45a;
@lightblue: #a2dadd;