/*********************************************

    TYPOGRAPHY

*********************************************/
@import (css) url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@font-family--base: 'Poppins', sans-serif;

@font-size--h1: 3.6rem;
@font-size--h2: 3rem;
@font-size--h3: 2rem;
@font-size--h4: 1.6rem;
@font-size--h5: 1.2rem;